h1{
    font-size: 20px;
}

.fundoVermelho{
    background-color: red;
}

.negrito{
    font-weight: bold;
}

#textoPrincipal{
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: gray;
}