<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a RouterLink="/">
            <img 
                src="https://import.cdn.thinkific.com/220759%2Fcustom_site_themes%2Fid%2FhbIbe45tSJSfztUcZ1Qm_LOGOTIPO-CODER-FUNDOTRANSPARENTE-PRETA.png?width=384&dpr=1" 
                alt="logo"
                class="logo"
            >
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                home
            </i>
            Início
        </a>
    </span>
</mat-toolbar>
